pkgbase = 1password-bin
	pkgdesc = Password manager and secure wallet (development preview)
	pkgver = 8.0.33
	pkgrel = 1
	url = https://1password.com/
	arch = x86_64
	license = custom:LicenseRef-1Password-Proprietary
	depends = libxss
	depends = gtk3
	depends = nss
	source = https://downloads.1password.com/linux/debian/pool/main/1/1password/1password-8.0.33-26.deb
	validpgpkeys = 3FEF9748469ADBE15DA7CA80AC2D62742012EA22
	sha256sums = b6fc05a2ecb2cf2bcb38d72149e83aae9591e895bef6464f3827e942f0e69bc0

pkgname = 1password-bin

