pkgbase = 1password-bin
	pkgdesc = Password manager and secure wallet (development preview)
	pkgver = 8.0.33
	pkgrel = 1
	url = https://1password.com/
	arch = x86_64
	license = custom:LicenseRef-1Password-Proprietary
	depends = libxss
	depends = gtk3
	depends = nss
	source = https://downloads.1password.com/linux/debian/pool/main/1/1password/1password-8.0.33-39.deb
	validpgpkeys = 3FEF9748469ADBE15DA7CA80AC2D62742012EA22
	sha256sums = ca6bfb5d5a8361888e7d2219e9859dede822e1794a3c50d525259b73d1e8e471

pkgname = 1password-bin

