pkgbase = 1password-bin
	pkgdesc = Password manager and secure wallet (development preview)
	pkgver = 8.0.33
	pkgrel = 1
	url = https://1password.com/
	arch = x86_64
	license = custom:LicenseRef-1Password-Proprietary
	depends = libxss
	depends = gtk3
	depends = nss
	source = https://downloads.1password.com/linux/debian/pool/main/1/1password/1password-8.0.33-53.deb
	validpgpkeys = 3FEF9748469ADBE15DA7CA80AC2D62742012EA22
	sha256sums = 1e4a9fcd5e93135e2cdd8f2583a8a13a1e15caa82b16143c99b5641bdb34a617

pkgname = 1password-bin

